* {
  font-size: 100%;
  letter-spacing: 0.05rem;
}

:root {
  --first-color: #232931;
  --second-color: #393e46;
  --third-color: #ececec;
  --fourth-color: #668ba4;
  --fifth-color: #dd6b4d;
  --sixth-color: #97cba9;
  --seventh-color: #feffdf;

  --fs-h1: 5rem;
  --fs-h2: 2rem;
  --fs-small: 1rem;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-align: center;
}

body {
  font-family: "Spline Sans", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
 
}

/* Nav Bar */
header {
  min-height: 100vh;
  position: relative;
}

header::before {
  content: '';
  background-image: url(/images/road-g25e2fbeed_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(60%);
}
.container {
  margin: 0 auto;
  width: min(80%, 80rem);
  position: relative;
}
.wrapper {
  margin-inline: auto;
  width: min(70%, 80rem);
}
/*Subtitle Text*/
.subtitle{
  font-size: 1.5rem;
  color: var(--second-color);
  text-transform: uppercase;
  text-align: center;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}
nav .logo {
  color: var(--third-color);
  font-size: 1.2rem;
  border: 1px solid var(--fifth-color);
  padding: 0.2rem 1.5rem;
  text-decoration: none;
}
.hamburger-btn {
  position: absolute;
  top: 1rem;
  right: 0;
  border: none;
  background: none;
  color: var(--third-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.hamburger-close-btn {
  position: absolute;
  top: 2rem;
  right: 4rem;
  background: var(--second-color);
  border: none;
  font-size: 2rem;
  color: var(--third-color);
  cursor: pointer;
  display: none;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.nav-links li {
  padding: 0 1rem;
}
.nav-links li a {
  font-size: .8rem;
  text-decoration: none;
  color: var(--third-color);
  transition: 0.2s ease-in-out;
}

.nav-links li a:hover {
  color: var(--fifth-color);
}

.orange-btn {
  padding: 0.3rem .7rem;
  background: var(--fifth-color);
  border-radius: 25px;
  color: var(--third-color);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.orange-btn:hover{
  background: var(--third-color);
  color: var(--second-color);
}
/* Section 1 content */
.intro-content{
  position: relative;
}
.intro-content h1 {
  font-size: var(--fs-h1);
  color: var(--third-color);
  margin: 0;
}
.section-1-content p {
  color: var(--third-color);
  margin: 0.5rem 0;
  
}
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

.intro-content i {
  color: var(--fifth-color);
  font-size: 1.5rem;
  padding: 0 0.2rem;
  transition: 0.2s ease-in-out;
}
.intro-content i:hover{
  color: var(--third-color);
}

.intro-content .small-text {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0;
}

/* Section 2 Content */
.section-2-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.about-me-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.orange-text {
  color: var(--third-color);
  text-transform: uppercase;
  font-size: 1.5rem;
}
.about-me{
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, .2);
  background: var(--fourth-color);
  border-radius: 10px;
}
.about-me p {
  line-height: 1.2rem;
  padding: 0 .8rem;
  color: var(--third-color);
  text-align: left;
}
.about-me img {
  width: 25%;
  clip-path: circle();
}
.about-column {
  width: 45%;
  text-align: center;
}
.about-img h1 {
  color: var(--second-color);
  text-transform: uppercase;
}
.about-img img {
  width: 100%;
  padding-top: 2rem;
}
.read-me-btn {
  border: none;
  cursor: pointer;
  margin-bottom: 1.6rem;
}
/* Modal Content */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  top: 1rem;
  right: 0;
  left: 0;
  bottom: 0;
  height: 460px;
  width: 520px;
  margin: 0 auto;
  background: var(--second-color);
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: none;
  animation: modal 0.7s ease forwards ;
}
.modal-content {
  color: var(--third-color);
  height: 100%;
  width: 80%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal-about-me h1 {
  font-size: 1.5rem;
  color: var(--fourth-color);
}
.close-btn {
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 1.8rem;
  color: var(--third-color);
  background: var(--second-color);
  border: none;
  cursor: pointer;
}

/* Section 3, Skills */
.skills-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}
.skill-column {
  text-align: center;
}
.skill-column p {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  color: var(--second-color);
}
.skill-column img {
  width: 50%;
}
.title {
  text-align: center;
}

/* Projects, HTML Email */
.html-project-section {
  min-height: 100vh;
  background: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.html-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.html-content-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  color: var(--third-color);
}
.html-column {
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
  background: var(--fourth-color);
  border-radius: 10px;
}
.html-column:hover{
  transform: scale(1.05);
}
.html-column img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.description-column{
 padding: 1rem;
 position: relative;
}

/* Landing Page */
.landing-page-section {
  min-height: 100vh;
  background: var(--third-color);
  padding: 1rem 0;
}

.landing-page-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  color: var(--third-color);
}
.landing-column {
  width: 100%;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  background: var(--fourth-color);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.landing-column:hover{
  transform: scale(1.05);
}
.landing-column img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.inner-content {
  padding: 1rem;
  min-height: 100%;
  
}
/* Mini Project */
.min-project-section {
  min-height: 100vh;
  
}
.mini-project-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.mini-column {
  width: 32%;
  height: 30vh;
  border: 1px solid var(--fifth-color);
}
/* Section 4 Content */
footer {
  min-height: 100vh;
  background: var(--second-color);
}
.footer-content h1 {
  padding: 2rem 0;
  text-align: center;
  color: var(--fourth-color);
  text-transform: uppercase;
  margin: 0;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}
.input-group {
  margin-bottom: 30px;
  position: relative;
  width: 70%;
}
input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid var(--third-color);
  color: var(--second-color);
  font-size: 1rem;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
label {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: lightgray;
  cursor: text;
  transition: 0.2s ease-in-out;
}

.footer-container p {
  color: var(--third-color);
  margin: 0.5rem 0;
  text-align: center;
}
.contact {
  color: var(--fifth-color);
  text-align: center;
}
.submit-btn {
  padding: .7rem 2rem;
  background-color: var(--fourth-color);
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
.submit-btn:hover{
  background: var(--third-color);
  color: var(--second-color);
}
input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label{
  top: -35px;
}

/* Submit-success message */
#status{
  margin: 1rem 0;
  padding: 0.5rem;
}
#status.success{
  color: green;
  animation: status 4s ease forwards;
}
#status.error{
  color: red;
  animation: status 4s ease forwards;
}
@keyframes status{
  0%{
    opacity: 1;
    pointer-events: all;
  }
  50%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: all;
  }
  
}
@keyframes modal{
  0%{
    opacity: 0;
  }
 
  70%{
    transform: translateY(15px);
    opacity: .7;
  }
  100%{
    opacity: 1;
    transform: translateY(20px);
  }
}

@media (max-width: 1010px) {
  .html-content-container  {
    grid-template-columns: repeat(2, 1fr);
  }
  .html-column {
    width: 100%;
  }
  .landing-page-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 830px) {
 
  .intro-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .intro-column {
    width: 100%;
    text-align: center;
  }
  .intro-column img {
    width: 60%;
  }
  
  .about-me-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-column {
    width: 100%;
    text-align: center;
  }
  .about-me {
    margin: 2rem 0;
  }
  .skills-container {
    width: 100%;
   text-align: center;
    place-items: center;
  }
  .section-3-content {
    min-height: 50vh;
  }
  @media (max-width: 768px){
    .html-content-container  {
      grid-template-columns: 1fr;
    }
    .html-column {
      width: 100%;
    }
    .landing-page-container {
      grid-template-columns: 1fr;
    }

    form {
      width: 100%;
    }
    .input-group {
      width: 100%;
    }
  }
 
}
@media(max-width: 600px){
  .modal-container {
    width: 420px;
  }
}
@media (max-width:500px){
  .nav-links{
    flex-wrap: wrap;
  }
  .nav-links li {
    padding: 0.7rem;
  }
  .skill-column p {
    font-size: 0.7rem;
  }
  .project-section {
    margin-top: 0;
    padding-top: 0;
  }
  .modal-container {
    width: 260px;
    font-size: 0.8rem;
    padding-top: 1rem;
  }
  
}