* {
  font-size: 100%;
}

:root {
  --first-color: #232931;
  --second-color: #393e46;
  --third-color: #eeeeee;
  --fourth-color: #8fb1e9;
  --fifth-color: #dd6b4d;

  --fs-h1: 5rem;
  --fs-h2: 2rem;
  --fs-small: 1rem;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-align: center;
}

body {
  font-family: "Spline Sans", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  letter-spacing: 0.07rem;
 
}

/* Nav Bar */
header {
  background: var(--second-color);
  position: sticky;
  top: 0;
  z-index: 1;
 
}
.container {
  margin: 0 auto;
  width: min(80%, 80rem);
}
/*Subtitle Text*/
.subtitle{
  font-size: 1.5rem;
  color: var(--second-color);
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
nav .logo {
  color: var(--third-color);
  font-size: 1.2rem;
  border: 1px solid var(--third-color);
  padding: 0.2rem 1.5rem;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}
.nav-links li {
  padding: 0 1rem;
}
.nav-links li a {
  text-decoration: none;
  color: var(--third-color);
  transition: 0.2s ease-in-out;
}

li a:hover {
  color: var(--fifth-color);
}

/* Section 1 content */

.section-1-content {
  scroll-snap-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* Transparent Background */
.section-1-content::before {
  content: '';
  background-image: url(/images/luca-bravo-VowIFDxogG4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(40%);
}
.intro-content{
  position: relative;
}
.intro-content h1 {
  font-size: var(--fs-h1);
  color: var(--third-color);
  margin: 0;
}
.section-1-content p {
  color: var(--fifth-color);
  margin: 0.5rem 0;
  
}
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.intro-content i {
  color: var(--fifth-color);
  font-size: 1.5rem;
  padding: 0 0.2rem;
  transition: 0.2s ease-in-out;
}
.intro-content i:hover{
  color: var(--third-color);
}

.intro-content .small-text {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0;
}

/* Section 2 Content */
.section-2-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.orange-text {
  color: var(--fifth-color);
  text-transform: uppercase;
  font-size: 1.5rem;
}
.about-me{
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, .2);
  padding: 0 0.5rem;
}
.about-me p {
  line-height: 1.5rem;
  color: var(--second-color);
}
.about-me img {
  width: 25%;
  clip-path: circle();
}
.about-column {
  width: 45%;
  text-align: center;
}
.about-img h1 {
  color: var(--second-color);
  text-transform: uppercase;
}
.about-img img {
  width: 100%;
  padding-top: 2rem;
}

/* Section 3, Skills */
.skills-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.skill-column {
  text-align: center;
}
.skill-column p {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  color: var(--second-color);
}
.skill-column img {
  width: 50%;
}
.title {
  text-align: center;
}

/* Projects, HTML Email */
.html-project-section {
  min-height: 170vh;
  background: var(--third-color);
}
.html-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.html-content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}
.html-column {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  
}
.html-column img {
  width: 100%;
}
.description-live{
  padding: 0.5rem;
}

.orange-btn {
  padding: 0.2rem 0.5rem;
  background: var(--fifth-color);
  border-radius: 0.1rem;
  color: var(--third-color);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.orange-btn:hover{
  background: var(--third-color);
  color: var(--fifth-color);
}

/* Landing Page */
.landing-page-section {
  min-height: 100vh;
  background: var(--third-color);
  padding: 1rem 0;
}

.landing-page-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}
.landing-column {
  width: 100%;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
}
.landing-img img {
  width: 100%;
}
.inner-content {
  padding: 1rem;
}
/* Mini Project */
.min-project-section {
  min-height: 100vh;
}
.mini-project-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.mini-column {
  width: 32%;
  height: 30vh;
  border: 1px solid var(--fifth-color);
}
/* Section 4 Content */
footer {
  min-height: 100vh;
  background: var(--second-color);
}
.footer-content h1 {
  padding: 2rem 0;
  text-align: center;
  color: var(--fifth-color);
  text-transform: uppercase;
  margin: 0;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}
.input-group {
  margin-bottom: 30px;
  position: relative;
  width: 70%;
}
input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid var(--third-color);
  color: var(--second-color);
  font-size: 1rem;
  border-radius: 1px;
}
label {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: lightgray;
  cursor: text;
  transition: 0.2s ease-in-out;
}

.footer-container p {
  color: var(--third-color);
  margin: 0.5rem 0;
  text-align: center;
}
.contact {
  color: var(--fifth-color);
  text-align: center;
}
.submit-btn {
  padding: .7rem 2rem;
  background-color: var(--fifth-color);
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 1px;
  text-align: left;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
.submit-btn:hover{
  background: var(--third-color);
  color: var(--fifth-color);
}
input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label{
  top: -35px;
}

/* Submit-success message */
#status{
  margin: 1rem 0;
  padding: 0.5rem;
}
#status.success{
  color: green;
  animation: status 4s ease forwards;
}
#status.error{
  color: red;
  animation: status 4s ease forwards;
}
@keyframes status{
  0%{
    opacity: 1;
    pointer-events: all;
  }
  50%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: all;
  }
  
}
@media (max-width: 768px){
  form {
    width: 100%;
  }
  .input-group {
    width: 100%;
  }
}

@media (max-width: 730px) {
  .nav-links li {
    padding: 0.8rem;
  }
  .intro-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .intro-column {
    width: 100%;
    text-align: center;
  }
  .intro-column img {
    width: 60%;
  }
  
  .about-me-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-column {
    width: 100%;
    text-align: center;
  }
  .about-me {
    margin: 2rem 0;
  }
  .skills-container {
    width: 60%;
   text-align: center;
    place-items: center;
  }
  .section-3-content {
    min-height: 50vh;
  }
  
}
@media (max-width:500px){
  .skill-column p {
    font-size: 0.7rem;
  }
  .project-section {
    margin-top: 0;
    padding-top: 0;
  }
}